.row {
  display: flex;
}

.movement {
  font-family: "Consolas";
  line-height: 1;
  font-size: 200%;
}

.movement td {
  width: 0.7em;
  height: 1em;
  text-align: center;
  opacity: 0%;
}

.dir-n {
  translate: 0 -3px;
}

.dir-s {
  translate: 0 3px;
}

.dir-w {
  translate: -3px -2px;
}

.dir-e {
  translate: 3px -2px;
}

.dir-c {
  translate: 0 -2px;
  opacity: 100% !important;
}

.keystrokes-holder {
  position: relative;
  width: 500px;
  height: 110px;
  margin: auto 0;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.keystrokes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 400%;
  font-family: "Consolas";
  margin: auto 0;
  min-width: 500px;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.keystrokes span {
  margin-right: 0.2em;
  white-space: nowrap;
  vertical-align: center;
}

.keystrokes span:last-child {
  margin-right: 0;
}
